// COLORES BOOTSTRAP
$primary:       #5867dd;
$secondary:     #e1e1ef;
$success:       #6f42c1;
$info:          #17a2b8;
$warning:       #ff9711;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #000000;

// TEMA
$principal      : $primary;
$secundario     : $secondary;
$blanco         : #ffffff;
$azul           : #374afb;
$gris           : #6c6e86;
$gris_oscuro    : #232337;

// FUENTES
$font_main      : 'Montserrat', sans-serif;
$font_size      :16px;



